#main-div {
    display: inline-block;
    overflow-x: hidden;
}

#main-content-div {
    display: inline-block;
    text-align: center;
    width: 100%;
    /*height: 100%;*/
    margin: 5px;
}

#top-content-div {
    width: 100%;
    padding-bottom: 20px;
}

.container {
    margin: 0 auto;
    /*max-width: 1764px;*/
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
}

/*.slider-main-wrapper {
    position: relative;
    width: auto;
    height: auto;
}*/

.product-label span {
    color: #fff;
}

.title {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title img {
    width: 75px;
    height: auto;   
}

.slider-content img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
}

h1 *,
h2 * {
    margin-top: 0 !important;
    color: #333 !important;
    font-family: Arial,sans-serif,sans-serif;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0 0 0.5em;
    padding: 0 0 0.2em;
}

#sale-content-div,
#news-content-div,
#instagram-content-div,
#featured-content-div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.second-row-wrapper {
    height: auto;
    width: auto;
    margin-bottom: 10px;
}

.first-section-image,
.second-section-image,
.top-row-image,
.bottom-row-image,
.news-row-image {
    display: flex;
    width: inherit;
    /*height: 465px;*/
/*    margin-left: -20px;
    margin-right: -20px;*/
    /*height: 465px;*/
}

/*.middle-row-image,
.second-section-image {
     height: 510px;
}*/

.first-section-image img,
.second-section-image img {
    display: flex;
    width: auto;
    /*height: 465px;*/
    height: auto;
    max-width: 100%;
    max-height: 520px;                              
}

.second-section-image img {
    max-height: 480px;
}

.inner-content {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;    
}

.inner-content:before,
.inner-content-bottom:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -5px;
    vertical-align: middle;
}

.inner-content-bottom {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;    
}

.inner-description {
    color: #f6f4ea;
    display: inline-block;
    margin: 0;
    padding: 20px 25px;
    vertical-align: middle;
    width: auto;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
}

.second-row-wrapper a:hover,
.featured-wrapper a:hover,
.news-wrapper a:hover,
.willstagram a:hover,
.page-footer a:hover {
    opacity: 0.85;
}

.inner {
    position: relative;
}

.featured-content:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.featured-content {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.featured-button {
    padding: 2em 1em;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1.2em;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #ff7b00;
    color: #fff;
    border: 2px solid #ff7b00;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    border-radius: 200px;
}

.product-image:hover .featured-button {
    opacity: 1;
    pointer-events: auto;    
    color: #fff;
}

.featured-button:hover {
    border-color: #ff9533;
    background: #ff9533;
}

/*.second-section-image img{
    display: flex;
    width: auto;
    height: 380px;
    max-width: 100%;
    max-height: 40%;                              
}*/

/*.image {
    width: auto;
}*/

.image-spacing {
    padding-right: 10px;
}

.news-image img {
    height: auto;
    max-height: none;
    max-width: none;
    width: 100%;
}

.second-section-image {
    padding-top: 15px;
}

.recipe-image {
    padding-right: 0 !important;
}

.featured-title,
.news-title,
.instagram-title {
    text-align: right;
    /*float: left;*/
    margin-bottom: 1.8em;
}

.opposing-items {
     text-align: right;
     margin-bottom: 1.8em;
}

.top-row-image img,
.bottom-row-image img {
    display: inline-block;
    width: auto;
    max-height: 365px;
    height: auto;
    max-width: 100%;
}

.product-label {
    background: #ff7b00 none repeat scroll 0 0;
    bottom: 0px;
    /*right: 195px;*/
    padding: 16px 32px 32px 32px;
    position: absolute;
    width: 100%;
    height: 20px;
    text-align: left;
    display: block;
    box-sizing: border-box;
}

.description-arrange {
    display: flex;
    padding-right: 10px;
}

.description-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.description,
.price-description,
.view-button {
    width: 50%;
}

.featured,
.news,
.instagram {
    float: left;
}

.btn { 
    background: #ff7b00 none repeat scroll 0 0;
    border: 2px solid #ff7b00;
    border-radius: 60px;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: 0.95em;
    height: auto;
    line-height: 1.2em;
    padding: 10px 1.4em 9px;
    transition: opacity 200ms ease 0s, background-color 150ms ease 0s, border-color 150ms ease 0s;
    vertical-align: middle;
    width: auto;
}
/*
.view-button {
    margin-right: 15px;
}*/

.view-all {
    margin-top: 15px;
    color: #fff;
    font-family: inherit;
    font-size: 0.95em;
    line-height: 1.2em;
    box-sizing: border-box;
}

.description {
    text-align: left;
}

.price-description {
    text-align: right;
}

.price {
    color: #333;
    font-size: 1.3em;
    line-height: 1em;
    font-family: Arial,sans-serif,sans-serif;
}

.on-sale span,
.on-sale del{
    color: #ff7b00 !important;
}

.column {
    /*padding-left: 10px;*/
    padding-right: 10px;
}

.third-column {
    width: calc(100% / 3);
}

h2 * {
    font-size: 1.66667em !important;
}

.column-arrange {
    text-align: left;
}

a {
    text-decoration: none;
    transition: background-color 120ms ease 0s, color 120ms ease 0s;
}

.column-description p,
.read-more a,
.footer-text * {
    text-align: left;
    font-size: 12px !important;
}

.page-footer a {
    color: #4d4d4d;
}

.insta-follow {
    color: #ff7b00;
}

.read-more a {
    color: #ff7b00;
    display: inline-block;
    padding: 0 0 0.2em;
    border-bottom: 1px solid #ff7b00;
    content: "";
    margin-top: 0.2em;
    transition: all 100ms ease-in-out 0s;
    cursor: pointer;
}

.read-more a:hover{ 
    border-bottom-color: rgba(255, 123, 0, 0.1);
}

.news-image,
.image-test {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.news-image img {
    height: auto;
    left: 0;
    max-height: none;
    max-width: none;
    position: absolute;
    top: -38.8889%;
    width: 100%
}

.column-title a:hover {
    color: #ff7b00 !important;
    opacity: 1;
}

.willstagram {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    padding: 0 10px 0 0px;
}

.willstagram ul {
    margin: 0;
    padding: 0 25px 0 0; 
}

.willstagram ul li {
    display: inline-block;
    margin: 0 1.5% 1.5% 0;
    vertical-align: top;
    width: 13%;
}

ul.plain li, .willstagram ul li {
    list-style: outside none none;
}

img {
    height: auto;
    vertical-align: top;
    border: 0 none;
}

img, iframe {
    max-width: 100%;
}

#page-footer #mailing-list .input-row, #page-footer #mailing-list .notification {
    margin-bottom: 0;
}

.input-button {
    border-radius: 60px 0 0 60px;
    border-width: 1px;
    /*bottom: -1px;*/
    height: auto;
    max-width: 128px;
/*    position: absolute;
    right: -2px;
    top: -1px;*/
}

.row {
    margin-left: -20px;
    margin-right: -20px;
    /*display: inline-block;*/
}

.extra-column {
    width: 50%;
}

.input-row input {
    display: flex;
}

#page-footer {
    padding: 4em 0;    
    border-top: 1px solid #fff;
}

.page-footer {
    background: #eaebe7 none repeat scroll 0 0;
    color: #999;
}

footer {
    display: block;
}

.hash-link {
    float: right;
    margin-top: -3em;
    color: #4d4d4d;
    margin-right: 20px;
}

.contact-form {
    text-align: left;
}

#page-footer #mailing-list .input-row, #page-footer #mailing-list .notification {
    margin-bottom: 0;
}
.inline-input-button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #adaeab;
    border-radius: 60px;
    display: inline-block;
    position: relative;
    /*margin-left: 19px;*/
}

section {
    background-color: #eaebe7;
    border-top: 1px solid #fff;
}

#page-footer #mailing-list input[type="email"] {
    width: 400px;
}

.inline-input-button input[type="email"] {
    background: transparent none repeat scroll 0 0;
    border: medium none transparent;
    height: 40px;
    padding-left: 1.5em;
    padding-right: 128px;
}

input, textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #adaeab;
    border-radius: 2px;
    color: #222;
    font-family: inherit;
    font-size: 0.95em;
    line-height: 1.2em;
    max-width: 100%;
    min-height: 32px;
    padding: 10px 0.6em 9px;
    width: 432px;
}

.inline-input-button input[type="submit"] {
    border-radius: 0 60px 60px 0;
    border-width: 1px;
    bottom: -1px;
    height: auto;
    max-width: 128px;
    position: absolute;
    right: -2px;
    top: -1px;
}
input[type="submit"] {
    background: #ff7b00 none repeat scroll 0 0;
    border: 2px solid #ff7b00;
    border-radius: 60px;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    font-size: 0.95em;
    height: auto;
    line-height: 1.2em;
    padding: 10px 1.4em 9px;
    transition: opacity 200ms ease 0s, background-color 150ms ease 0s, border-color 150ms ease 0s;
    vertical-align: middle;
    width: auto;
}
input[type="submit"] {
    cursor: pointer;
}

.padless-top {
    display: flex;
}

.social-links {
    margin-right: 20px;
    margin-top: 8px;
}

.icon-padding a {
    padding: 2px;
}

.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0 0.2em 0.5em;
}

.social-links a {
    background: #555 none repeat scroll 0 0;
    color: #fff;
    border-radius: 3px;
    line-height: 1.6em;
    width: 1.6em;
}

.icon-up-open {
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 0;
    line-height: 1.28571em;
    position: relative;
    text-align: center;
    width: 1.28571em;
    color: #333;
}

.footer-logo {
    width: 14%;
}

.text-column {
    width: 32%;
    text-align: left;
}


#page-footer .links-column {
    line-height: 1.6em;
    width: 16%;
    text-align: left;
}

.inline-item {    
    float: left;
    display: inline-block;
}

.inline-item * {
    text-align: left;
    font-size: 12px !important;
}

.payment-methods {
    float: right;
    display: inline-block;
}

.payment-methods img {
    margin-left: 0.5em;
    width: 50px;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.bottom-row {
    padding-bottom: 20px;
}

.bottom-row:before {
    content: "";
    display: table;
}

.bottom-row:after {
    clear: both;
    content: "";
    display: table;
}

[class^="icon-"] span, [class*=" icon-"] span {
    display: none;
}

.icon-twitter:hover {
    background-color: #1bb6ec;
}

.icon-facebook:hover {
    background-color: #3c599f;
}

.icon-path-1:hover {
    background-color: #e02a27;
}

@media screen and (max-width: 1024px) {
    body *,
    .inline-item *{
        font-size: 10px !important;
    }
    
    .featured-button {
        padding: 1.5em 1em;
        width: 60px;
        height: 60px;   
    }
    
    .product-label {
        padding: 2px 16px 16px;
    }    
}

@media screen and (max-width: 640px)
and (orientation: portrait) {
    .first-section-image,
    .second-section-image {
        display: inline-block;
    }
    
    .first-section-image img, 
    .second-section-image img {
        max-height: 500px;
        padding-bottom: 10px;
    }
    
    .second-section-image {
        padding-top: 0;
    }
    
    .news-row-image {
        display: inline-block;
    }
    
    .third-column {
        width: 100%;
        padding-bottom: 20px;
    }
    
    h2 a {
        font-size: 14px !important;
    }

    .extra-column {
        width: 100%;
    }
    
    .padless-top {
        display: inline-block;
    }
    
    .inline-input-button input[type="email"] {
        border-radius: 60px;
        display: block;
        margin-bottom: 1em;
        padding-right: 1.4em;
    }
    
    .inline-input-button {
        width: 280px;
        height: 45px;
        position: initial;
        display: block;
        text-align: center;
    }
    
    .inline-input-button input[type="submit"] {
        border-radius: 60px;
        border-width: 1px;
        height: auto;
        max-width: 128px;
        position: static;
    }
    
    .footer-logo {
        display: none;
    }
    
    .top-row-image,
    .bottom-row-image {
        display: inline-block;
    }
    
    .product-image {
        width: 175px;
        height: auto;
        display: inline-block;
    }
    
    .willstagram ul {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
    
    .willstagram ul li {
        display: block;
        width: 100%;
    }
    
    .extra-column {
        text-align: left !important;
    }
    
    .social-links {
        padding-left: 0;
        margin-top: 60px;
    }
    
    .text-column {
        width: 100%;
        margin-bottom: 25px;
    }
    
    #page-footer .links-column {
        width: 100%;
    }
    
    .links-column ul {
        padding-left: 0;
    }
    
    .payment-methods {
        float: none;
        text-align: left;
        margin-top: 15px;
    }
}
    