
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-path-1:before { content: '\e824'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */